@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    margin:0;
    padding:0;

}

header{
    width:100vw;
    height:10vh;
    font-size:13px;
    display:inline-block;
    font-family:'Montserrat', sans-serif;
}
ul{
   display:flex;
   float:left;
   margin-top:2vw;
   list-style-type:none;

}

li{
    margin-left:5vh;
}


li:hover{
    color:purple;
}
   


#butheader{
  color:white;
  border:0;    
  width:60px;
  height:27px;
  border-radius:10px;
  background-color:purple;
}


#butheader:hover{
    background-color:green;
}
main{
    display:flex;
}

img{
    width:50vw;
    height:70vh;
    margin-top:10vh;
    margin-left:5vh;
    display:inline-block;   
}
#left{
    width:50vw;
    height:60vh;
}

#right{
    width:50vw;
    height:40vh;
    margin-top:10vh;
    margin-left:10vh;
    display:inline-block; 
}

h1{
    color:purple;
    margin-top:10vh;
}

h3{
    margin-top:2vh; 
}

p{
    margin-top:1vh; 
} 


#butmain{
    border:0;    
    color:white;
    width:100px;
    height:30px;
    margin-top:2vh;
    margin-left:35px;
    border-radius:10px;
    background-color:purple;
}
